[user]
    email = zakorchevnyj@gmail.com
    name = ZakAlexandr
[core]
    autocrlf = false
    safecrlf = false
    quotepath = off
    safecrlt = warn    
[gui]
    recentrepo = E:/git/work/hello
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p