@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/*@font-face {
    font-family: 'Playfair Display SC';
    src: local('Playfair Display SC'), local('PlayfairDisplaySC-Regular'), url('./font/playfairdisplaysc.woff2') format('woff2'), url('./font/playfairdisplaysc.woff') format('woff'), url('./font/playfairdisplaysc.ttf') format('truetype');
}*/

*{
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
    font-family: 'PlayfairDisplay-Regular', 'AdobeInvisFont'; 
}

body{
    background-color: #fff;
    
}
.header,main{
    width: 900px;
    margin: 0 auto;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: rgba(98, 98, 98, 255);
    /*text-shadow: 1px 1px 2px black;*/
    text-align: center;
    font-weight: 400;
}


.page_nav{
    padding: 77px 0 100px 0;
}
.menu_top{
    list-style: none;
    margin: 0 auto;
    float: left;
    padding-left: 164px;
}
.menu_top li{
    margin-right: 94px;
    text-transform: uppercase;
    display: inline-block;
}
.menu_top li:last-child{
    margin-right: 0;
}
.menu_top li a{
    font-size: 14px;
    display: block;
}
.menu_top li a:hover{
    color: #ffe;  /*Цвет текста активного пункта */
    color: #03a9f4;
}
.menu_top li a:focus{
    color: #ffe;  /*Цвет текста активного пункта */
    background-color: #5488af; /* Цвет фона активного пункта */
}


.list_item{
    width: 420px;
    display: inline-block;
    margin: 0 60px 90px 0;
    vertical-align: top;
}
.list_item:nth-child(even){
    margin: 0 0 90px 0;
}
.list_item:nth-child(n+5){
    margin-bottom: 54px;
}
.list_item span{
    font-weight: 400;
    font-size: 14px;
    color: rgba(180, 173, 158, 255);
    text-align: left;
    margin-top: 24px;
    text-transform: uppercase;
}
.list_item h2{
    font-weight: 700;
    font-size: 30px;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    margin-top: 26px;
}
.list_item p{
  font-weight: 700;    
  font-size: 14px;
  color: rgba(98, 98, 98, 255);
  text-align: left;
  margin-top: 30px;
}
.button{
  padding-bottom: 24px;
}
.list_button{
  display: block;
  width: 164px;
  height: 60px;
  font-weight: 400;
  margin: 0 auto;
  font-size: 20px;
  color: rgba(98, 98, 98, 255);
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(98, 98, 98, 1);
  border-radius: 3px
}


