@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/*@font-face {
    font-family: 'Playfair Display SC';
    src: local('Playfair Display SC'), local('PlayfairDisplaySC-Regular'), url('./font/playfairdisplaysc.woff2') format('woff2'), url('./font/playfairdisplaysc.woff') format('woff'), url('./font/playfairdisplaysc.ttf') format('truetype');
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PlayfairDisplay-Regular', 'AdobeInvisFont'; 
}

body{
    background-color: #fff;
    width: 1110px;
    margin: 0 auto;  
    font-size: 0;  
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix::after{
    content: '';
    display:table;
    clear: both;
}
a {
    text-decoration: none;
    color: #0f0101;
    text-align: center;
}


.header{
    font-size: 14px;
    font-weight: 400;
}
.site_logo{
    vertical-align: middle;
}

.menu_top{
    margin-right: 30px;
    list-style: none;
    overflow: hidden;
    margin-right: 30px;
    vertical-align: middle;
    float: right;
}
.menu_top li{
    margin-right: 30px;

    text-transform: uppercase;
    text-align: right;
    display: inline-block;
}
.menu_top li:last-child{
    margin-right: 0;
}
.menu_top li a:hover{
    color: #1abc9c;
}
.menu_top li a:focus{
    background-color: #1abc9c; /* Цвет фона активного пункта */
}
.header_title{
    font-weight: 700;
    margin: 0 auto;
    font-size: 48px;
    color: rgba(81, 81, 81, 255);
    text-align: center;
    padding-top: 105px;
}
.underline{
    background-image: url(../image/H2_border-bottum.png);
    background-position: 0 32px;
    background-size: 28px 9px;
    background-size: cover;
    background-attachment: fixed;
}


.product_card{
    width: 255px;
    height: 322px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: #e9f0fd;
    position: relative;
}
.product_card:nth-child(4n+4){
    margin-right: 0;
}
.product_card img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    top: 0;
    margin: auto;
}
.price{
    font-size: 0;
    height: 40px;
    position: absolute;
    bottom: 0;
}
.price_title, .price_cach{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    line-height: 40px;
}
.price_title{
    float: left;
    width: 200px;
    background-color: #323232;
    text-transform: uppercase;
    text-align: left;
    padding-left: 14px;
}
.price_cach{
    background-color: #8c8c8c;
    text-align: center; 
    float: right; 
    width: 55px;  
}
.product_card:hover .price_title{
    background-color: #1abc9c;
    color: #fff;
}
.product_card:hover .price_cach{
    background-color: #7fd9c7;
    color: #fff;
}